@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@font-face {
    font-family: 'ContiSans';
    src: url('./ContiSansLight.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ContiSans';
    src: url('./ContiSans.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ContiSans';
    src: url('./ContiSansBold.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

@theme {
    --variant-dark: (&:where(.dark, .dark *));
    --font-sans: "ContiSans", ui-sans-serif, system-ui, sans-serif;
}